@{
    var userInfo = Context.Items["UserInfo"] as UserInfo;
}
@if (userInfo != null)
{
    <div class="manu-top-wraper">
        <img id="loginUserPhoto" class="rounded-circle img-thumbnail z-depth-1" src="~/images/defaultImage.jpg"
             style="height: 100px; width: 100px" alt="Photo" />
        <ul class="p-0 mt-1">
            <li class="nav-item font-weight-bold mb-2" id="loginUserName"></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-decoration-none p-0" id="navbarDropdownMenuLink"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @userInfo.Username
                </a>
                <div class="dropdown-menu dropdown-dark" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/Account/Profile">
                        <i class="fal fa-user"></i>
                        Profile
                    </a>
                    <a class="dropdown-item" href="/Account/ChangePassword">
                        <i class="fal fa-lock"></i>
                        Change Password
                    </a>
                    <div class="dropdown-divider"></div>
                    <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                        <a class="dropdown-item" href="/Account/Logout">
                            <i class="fal fa-sign-out-alt"></i>
                            Logout
                        </a>
                    </form>
                </div>
            </li>
        </ul>
    </div>
    <hr />
    <ul id="menuItem">
        @if (userInfo.Role.ToLower() == "admin")
        {
            <li>
                <a class="links link-active" href="/Dashboard/Index">
                    <span class="fas fa-tachometer-alt mr-2"></span>
                    Dashboard
                </a>
            </li>
            <li>
                <a class="links link-active" href="/Supplier/Index">
                    <span class="fas fa-truck mr-2"></span>
                    Suppliers
                </a>
            </li>
            <li>
                <a class="links link-active" href="/Customer/Index">
                    <span class="fas fa-users mr-2"></span>
                    Customers
                </a>
            </li>
            <li>
                <a class="links link-active" href="/Warehouse/Index">
                    <span class="fas fa-users mr-2"></span>
                    Warehouses
                </a>
            </li>
            <li>
                <a class="links link-active" href="/Product/Categories">
                    <span class="fas fa-list mr-2"></span>
                    Product Categories
                </a>
            </li>
            <li>

                <a class="links link-active" href="/Product/Index">
                    <span class="fas fa-boxes mr-2"></span>
                    Products
                </a>
            </li>
            <li>
                <a class="links link-active" href="/IncomingReceipt/Index">
                    <span class="fas fa-file-invoice mr-2"></span>
                    Incoming Receipts
                </a>
            </li>
            <li>
                <a class="links link-active" href="/OutgoingOrder/Index">
                    <span class="fas fa-file-invoice mr-2"></span>
                    Outgoing Orders
                </a>
            </li>
            <li>
                <a class="links link-active" href="/User/Index">
                    <span class="fas fa-users mr-2"></span>
                    Users
                </a>
            </li>
        }
    </ul>
}